.header{
    display:flex;
    background-color: beige;
    align-items: self-start;
    padding:25px;
   
}

.AscensionTitle{
    display: ruby-text;
    font-style: italic;
    font-size: 24px;
    color: #804000;
    margin:0;
}





.navbar ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #804000;
    border: 2px solid transparent;
    transition: 0.3s ease;
  }